<!DOCTYPE html>
<html class="">
  <head>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/popup.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/all.css" />
    <link rel="stylesheet" href="../scripts/jquery.modal.min.css" />
    <script type="text/javascript" src="../scripts/jquery-3.4.1.js"></script>
    <script
      type="text/javascript"
      src="../scripts/jquery.modal.min.js"
    ></script>
    <!--script type="text/javascript" src="../scripts/psl.min.js"></script-->
    <script type="text/javascript" src="../scripts/popup.js"></script>
    <script type="text/javascript" src="../scripts/settings.js"></script>
  </head>

  <body>
    <!-- Header Area ----------------------------------------------->
    <div id="title-border-box">
      <a target="_blank" href="https://github.com/alexwmw/tab-stack"
        ><img class="icon" src="../images/title.png" title="Link to github"
      /></a>

      <span id="settings-title"></span>
      <span id="close-settings">close</span>
    </div>

    <!-- Settings ------------------------------------------------>
    <div id="settings">
      <div id="settings-view">
        <form>
          <table class="settings-table">
            <tr height="25">
              <td></td>
            </tr>

            <tr class="main-setting setting-row indented">
              <td colspan="2">
                Select theme:&nbsp;&nbsp;
                <span class="or-switch">
                  <input
                    id="light-mode"
                    style="border-radius: 10px 0 0 10px"
                    type="button"
                    class="selected"
                    value="Light" />
                  <input
                    id="dark-mode"
                    style="border-radius: 0 0"
                    type="button"
                    value="Dark" />
                  <input
                    id="system-mode"
                    style="border-radius: 0 10px 10px 0"
                    type="button"
                    value="System"
                /></span>
              </td>
            </tr>

            <tr class="setting-row main-setting">
              <td colspan="2">
                <input
                  type="checkbox"
                  checked
                  id="cb-close-tabs"
                  name="close-tabs"
                />
                Allow automatic closing of tabs
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                Close tabs after:&nbsp;
                <input
                  class="time-input"
                  min="0"
                  max="180"
                  type="number"
                  id="timeout-m"
                  value="15"
                />
                min(s) &nbsp;&nbsp;
                <input
                  size="2"
                  min="0"
                  max="59"
                  class="time-input"
                  type="number"
                  id="timeout-s"
                  value="0"
                />
                sec(s)
              </td>
            </tr>

            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                Start closing tabs when more than:&nbsp;
                <input
                  min="1"
                  max="99"
                  id="max-allowed"
                  type="number"
                  value="1"
                />
                tabs are open
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                To reset a tab's timer, the tab must be active for:&nbsp;
                <input
                  id="delay_reset"
                  min="0"
                  max="99"
                  type="number"
                  value="0"
                />
                second(s)
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <b>Automatic locking:</b>
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  checked
                  type="radio"
                  id="O-clear-criteria"
                  name="auto-lock-criteria"
                  value="lock-none"
                />
                Do not lock any tabs automatically
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="O-clear-criteria"
                  name="auto-lock-criteria"
                  value="lock-matches"
                />
                Automatically lock any tabs that match:&nbsp;
                <input
                  style="padding: 5px"
                  type="button"
                  class="change-view-button"
                  id="list-button"
                  value="Rules..."
                />
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="O-clear-criteria"
                  name="auto-lock-criteria"
                  value="lock-non-matches"
                />
                Automatically lock any tabs that don't match:&nbsp;
                <input
                  style="padding: 5px"
                  type="button"
                  class="change-view-button"
                  id="list-button"
                  value="Rules..."
                />
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="lock-new-tabs"
                  name="auto-lock-criteria"
                  value="lock-all"
                />
                Lock all new tabs by default
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input type="checkbox" /> Prevent closing of tabs playing audio
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input type="checkbox" id="show-lock-popup" />
                Show a notification when when a tab becomes locked/unlocked
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input value="false" type="checkbox" id="show-time-popup" />
                Show a notification when when a tab has
                <input id="popup-secs" type="number" min="1" value='30'/> second(s)
                remaining
              </td>
            </tr>

            <tr class="hr">
              <td></td>
            </tr>
            <tr class="setting-row">
              <td colspan="2">
                <input
                  type="checkbox"
                  id="O-clear-criteria"
                  name="O-clear-criteria"
                />
                Clear closed tabs list on quit
              </td>
            </tr>

            <tr class="setting-row">
              <td colspan="2">
                Search popup window height:&nbsp;
                <select id="duplicate-select" name="duplicate-select">
                  <option value="origin">Normal</option>
                  <option value="domain">Expanded</option>
                </select>
              </td>
            </tr>
            <tr class="setting-row">
              <td colspan="2">
                Maximum number of closed tabs to store:&nbsp;
                <input id="max-stored" min="10" max="999" type="number" value='100'/>
              </td>
            </tr>
            <tr class="setting-row">
              <td colspan="2">
                Prevent duplicate closed tabs:&nbsp;
                <select id="duplicate-select" name="duplicate-select">
                  <option value="origin">Never</option>
                  <option value="domain">If URL exists</option>
                  <option value="domain">If Title+Domain Name exists</option>
                </select>
              </td>
            </tr>
            <tr class="hr">
              <td></td>
            </tr>
            <!--Keyboard-Shortcuts----------------------------->
            <tr class="blank_row">
              <td style="height: 0" colspan="3"></td>
            </tr>
            <tr>
              <td colspan="2"><h3>Keyboard Shortcuts</h3></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr height="5">
              <td></td>
            </tr>
            <tr>
              <td colspan="2">
                The following shortcuts are universal.
                <a id="chromeExt" href="">Edit these shortcuts</a>.
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr></tr>
            <tr class="shortcut-row">
              <td>
                <span class="">Open tab search:</span>
              </td>
              <td>
                <span class="">ctrl + shift + s / cmd + shift + s</span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class="">Lock/unlock current tab:</span>
              </td>
              <td>
                <span class="">tbc</span>
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr>
              <td colspan="2">
                The following shortcuts only work inside the 'search' popup, and
                cannot be customised.
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr></tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Close/delete the selected tab:</span>
              </td>
              <td><span class="">tbc</span></td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Lock/unlock the selected tab:</span>
              </td>
              <td><span class="">tbc</span></td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Filter for open tabs:</span>
              </td>
              <td>
                <span class="shortcut">tbc</span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Filter for closed aabs:</span>
              </td>
              <td>
                <span class="">tbc</span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Filter for all tabs:</span>
              </td>
              <td>
                <span class="">tbc</span>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <!-- Modals ------------------------->
      <div id="edit-list" class="modal">
        <h2>Edit list</h2>
        <p>
          URLs can be entered below, one per line, in the form
          [host].[domain]/[path]
        </p>
        <p>For example: google.com, bbc.co.uk/weather</p>
        <p>
          The wildcard character '*' can be used to replace and field. For
          example, website.com/*/bar would match website.com/foo/bar
        </p>
        <textarea></textarea>
        <div class="modal-buttons-container">
          <a style="display: none" rel="modal:close" href="#">Close</a>
          <input
            id="cancel-rule-changes"
            class="rules-form-buttons"
            type="button"
            value="Cancel"
          />
          <input
            id="save-rule-changes"
            rel="modal:close"
            class="rules-form-buttons"
            type="button"
            value="Save Changes"
          />
        </div>
      </div>

      <a
        style="display: none"
        id="edit-list-link"
        href="#edit-list"
        rel="modal:open"
        >Open Modal</a
      >
    </div>
  </body>
</html>
