<!DOCTYPE html>
<html class="">
  <head>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/popup.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/all.css" />
    <link rel="stylesheet" href="../scripts/jquery.modal.min.css" />
    <script type="text/javascript" src="../scripts/jquery-3.4.1.js"></script>
    <script
      type="text/javascript"
      src="../scripts/jquery.modal.min.js"
    ></script>
    <!--script type="text/javascript" src="../scripts/psl.min.js"></script-->
    <script type="text/javascript" src="../scripts/popup.js"></script>
    <script type="text/javascript" src="../scripts/settings.js"></script>
  </head>

  <body>
    <!-- Header Area ----------------------------------------------->
    <div id="title-border-box">
      <a target="_blank" href="https://github.com/alexwmw/tab-stack"
        ><img class="icon" src="../images/title.png" title="Link to github"
      /></a>

      <span id="settings-title"></span>
      <span id="close-settings">close</span>
    </div>

    <!-- Settings ------------------------------------------------>
    <div id="settings">
      <div id="settings-view">
        <form>
          <table class="settings-table">
            <tr height="25">
              <td></td>
            </tr>

            <tr class="main-setting setting-row indented">
              <td colspan="2">
                Select theme:&nbsp;&nbsp;
                <input id="theme" style="display: none" type="button" />
                <span class="or-switch">
                  <input
                    id="light-mode"
                    style="border-radius: 10px 0 0 10px"
                    type="button"
                    class="selected"
                    value="Light" />
                  <input
                    id="system-mode"
                    type="button"
                    style="display: none; border-radius: 0 0"
                    value="System" />
                  <input
                    id="dark-mode"
                    style="border-radius: 0 10px 10px 0"
                    type="button"
                    value="Dark"
                /></span>
              </td>
            </tr>

            <tr class="setting-row main-setting">
              <td colspan="2">
                <input
                  checked
                  type="checkbox"
                  id="allow_closing"
                  name="close-tabs"
                />
                Allow automatic closing of tabs
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                Close tabs after:&nbsp;
                <input
                  class="time-input"
                  min="0"
                  max="180"
                  type="number"
                  id="_time_min"
                  value="15"
                />
                min(s) &nbsp;&nbsp;
                <input
                  size="2"
                  min="0"
                  max="59"
                  class="time-input"
                  type="number"
                  id="_time_sec"
                  value="0"
                />
                sec(s)
              </td>
            </tr>

            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                Start closing tabs when more than:&nbsp;
                <input
                  min="1"
                  max="99"
                  id="max_allowed"
                  type="number"
                  value="1"
                />
                tabs are open
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                To reset a tab's timer, the tab must be active for:&nbsp;
                <input
                  id="reset_delay"
                  min="0"
                  max="99"
                  type="number"
                  value="0"
                />
                second(s)
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <b>Automatic locking:</b>
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="auto_locking_none"
                  name="auto_locking"
                  value="none"
                />
                Do not lock any tabs automatically
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="auto_locking_matches"
                  name="auto_locking"
                  value="matches"
                />
                Automatically lock any tabs that match:&nbsp;
                <input
                  style="padding: 5px"
                  type="button"
                  class="change-view-button"
                  id="match-list-button"
                  value="Rules..."
                />
              </td>
            </tr>
            <tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="auto_locking_non_matches"
                  name="auto_locking"
                  value="non_matches"
                />
                Automatically lock any tabs that don't match:&nbsp;
                <input
                  style="padding: 5px"
                  type="button"
                  class="change-view-button"
                  id="not-match-list-button"
                  value="Rules..."
                />
              </td>
            </tr>
            <!--tr
              id="list-button-row"
              class="setting-row cb-close-tabs-dependent"
            >
              <td colspan="2">
                <input
                  type="radio"
                  id="auto_locking_all"
                  name="auto_locking"
                  value="all"
                />
                Lock all new tabs by default
              </td>
            </tr-->
            <tr height="10">
              <td></td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input id="audible_lock" type="checkbox" /> Prevent closing of
                tabs playing audio
              </td>
            </tr>
            <!--tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input type="checkbox" id="show-lock-popup" />
                Show a notification when when a tab becomes locked/unlocked
              </td>
            </tr>
            <tr class="setting-row cb-close-tabs-dependent">
              <td colspan="2">
                <input value="false" type="checkbox" id="show-time-popup" />
                Show a notification when when a tab has
                <input id="popup-secs" type="number" min="1" value='30'/> second(s)
                remaining
              </td>
            </tr-->

            <tr height="200" class="hr">
              <td></td>
            </tr>

            <tr class="setting-row">
              <td colspan="2">
                <input
                  type="checkbox"
                  id="clear_on_quit"
                  name="O-clear-criteria"
                />
                Clear closed tabs list on quit.
              </td>
            </tr>

            <!--tr>
              <td>
                <input
                  type="button"
                  id="clear-tabs"
                  value="Clear closed tabs now"
                />
              </td>
            </tr-->
            <tr class="setting-row">
              <td colspan="2">
                Search popup window size:&nbsp;
                <select type='select' id="window_size">
                  <option value="small">Small</option>
                  <option value="large">Large</option>
                </select>
              </td>
            </tr>
            <tr class="setting-row">
              <td colspan="2">
                Maximum number of closed tabs to store:&nbsp;
                <input
                  id="max_stored"
                  min="10"
                  max="300"
                  type="number"
                  value="100"
                />
              </td>
            </tr>
            <tr class="setting-row">
              <td colspan="2">
                Do not duplicate closed tabs:&nbsp;
                <select type='select' id="prevent_dup" name="duplicate-select">
                  <option value="allow">Allow duplicates</option>
                  <option value="url">If URL matches an existing tab</option>
                  <option value="title_domain">
                    If {title, domain name} match an existing tab
                  </option>
                </select>
              </td>
            </tr>
            <tr class="hr">
              <td></td>
            </tr>
            <!--Keyboard-Shortcuts----------------------------->
            <tr class="blank_row">
              <td style="height: 0" colspan="3"></td>
            </tr>
            <tr>
              <td colspan="2"><h3>Keyboard Shortcuts</h3></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr height="5">
              <td></td>
            </tr>
            <tr id="universal-shortcuts">
              <td colspan="2">
                The following shortcuts work from anywhere inside Chrome.
                <a id="chromeExt" href="">Edit these shortcuts</a>.
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr></tr>
            <tr class="shortcut-row">
              <td>
                <span class="">Open tab search:</span>
              </td>
              <td>
                <span id="sc1"></span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class="">Lock/unlock current tab:</span>
              </td>
              <td>
                <span id="sc2"></span>
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr>
              <td colspan="2">
                The following shortcuts only work inside the 'search' popup, and
                cannot be customised.
              </td>
            </tr>
            <tr height="10">
              <td></td>
            </tr>
            <tr></tr>
            <tr class="shortcut-row">
              <td>
                <span>Close/delete the selected tab:</span>
              </td>
              <td><span id="sc3">tbc</span></td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span>Lock/unlock the selected tab:</span>
              </td>
              <td><span id="sc4">tbc</span></td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span>Filter for open tabs:</span>
              </td>
              <td>
                <span id="sc5">tbc</span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span>Filter for closed tabs:</span>
              </td>
              <td>
                <span id="sc6">tbc</span>
              </td>
            </tr>
            <tr class="shortcut-row">
              <td>
                <span class=" ">Filter for all tabs:</span>
              </td>
              <td>
                <span id="sc7">tbc</span>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <!-- Modals ------------------------->
      <div id="edit-match-list" class="edit-list modal">
        <h2>Match rules</h2>
        <p>
          URLs can be entered below, one per line, in the form
          [host].[domain]/[path]
        </p>
        <p>For example: google.com, bbc.co.uk/weather</p>
        <p>
          The wildcard character '*' can be used to replace any field. For
          example, website.com/*/bar would match website.com/foo/bar
        </p>
        <p style="font-size: 9pt">
          <strong>Automatically lock any tabs that match:</strong>
        </p>
        <textarea type="textarea" id="match_rules"></textarea>
        <div class="modal-buttons-container">
          <a style="display: none" rel="modal:close" href="#">Close</a>
          <input class="cancel-rule-changes" type="button" value="Cancel" />
          <input
            id="save-match-list"
            rel="modal:close"
            class="save-rules-btn"
            type="button"
            value="Save Changes"
          />
        </div>
      </div>
      <a
        style="display: none"
        id="edit-match-list-link"
        href="#edit-match-list"
        rel="modal:open"
        >Open Modal</a
      >

      <div id="edit-not-match-list" class="edit-list modal">
        <h2>Match rules</h2>
        <p>
          URLs can be entered below, one per line, in the form
          [host].[domain]/[path]
        </p>
        <p>For example: google.com, bbc.co.uk/weather</p>
        <p>
          The wildcard character '*' can be used to replace any field. For
          example, website.com/*/bar would match website.com/foo/bar
        </p>
        <p style="font-size: 9pt">
          <strong>Automatically lock any tabs that <u>don't</u> match:</strong>
        </p>
        <textarea type="textarea" id="not_match_rules"></textarea>
        <div class="modal-buttons-container">
          <a style="display: none" rel="modal:close" href="#">Close</a>
          <input class="cancel-rule-changes" type="button" value="Cancel" />
          <input
            id="save-not-match-list"
            rel="modal:close"
            class="save-rules-btn"
            type="button"
            value="Save Changes"
          />
        </div>
      </div>
      <a
        style="display: none"
        id="edit-not-match-list-link"
        href="#edit-not-match-list"
        rel="modal:open"
        >Open Modal</a
      >
    </div>
  </body>
</html>
