/* [tab stack] * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#grey-box {
  position: fixed;
  background-color: whitesmoke;

  z-index: 3;
  height: 70px;
  width: 660px;
  top: 53px;
  margin: 0;
}
#searchbox {
  display: block;
  margin: 10px 15px 25px 15px;
  padding: 6px;
  background-color: white;
  display: inline-block;
  border-radius: 3px;
  width: 50%;
}
#searchbox:focus {
  outline: none;
}

#results-table-container {
  position: relative;
  top: 54px;
  width: 100%;

  background-color: white;
  border: 1px solid var(--table-border);
}
#results-table {
  position: absolute;
  width: 100%;
  margin: -1px 0 0 -1px;
  background-color: white;
  border: 1px solid var(--table-border);
  border-collapse: collapse;
}
#results-table tr:first-child {
  height: 18px;
}
#results-table th {
  height: 18px;
  border: 1px solid var(--table-border);
  background-color: moccasin;
  text-align: right;
}
#results-table th i {
  color: var(--tertiary);
  cursor: pointer;
}
#results-table td i {
  cursor: pointer;
  margin: 0 7px;
}
#results-table .favicon {
  height: 20px;
}
#results-table td .fa-trash {
  color: #666;
}
#results-table td .fa-info-circle {
  color: #5555f0;
}
#results-table td {
  font-size: 8.5pt;
  height: 30px;
  border: 1px solid var(--table-border);
  border-left: 0.5px solid whitesmoke;
  border-right: none;
  font-family: var(--body-family);
}
#results-table td:nth-child(1),
td:nth-child(2) {
  width: 40px;
  text-align: center;
}
#results-table td:nth-child(3) {
  width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#results-table td:nth-child(4) {
  width: 110px;
}
#results-table td:nth-child(5) {
  text-align: center;
  width: 60px;
}
td .tab-title {
  display: inline-block;
  color: steelblue;
  font-weight: 500;
  font-size: 10pt;
  padding: 2px;
  width: 380px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor:pointer;
}
td .tab-domain {
  display: block;
  padding: 2px;
}
/* Modal * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#tab-info {
  height: 300px;
  padding: 2% 4%;
}
#tab-info .close-modal {
  display: initial !important;
}
#tab-info td {
  height: 25px;
  font-family: var(--body-family);
  padding: 2px 20px;
  text-align: left;
}
#tab-info td:nth-child(2) {
  width: 240px;
  background-color: whitesmoke;
}
#tab-info td:nth-child(3) {
  width: 90px;
  background-color: white;
  padding: 0 4px;
}
#tab-info button:active {
  background-color: var(--tertiary);
}
#tab-info button:focus {
  outline: none;
}
.copied {
  display: none;
  color: orange;
  font-size: 8pt;
}
